productName: VEC USB Footpedal
vendorId:    0x05F3 (1523) PI Engineering, Inc.
productId:   0x00FF (255)
opened:      true
collections[0]
  Usage: 000C:0003 (Consumer > Programmable Buttons)
  Input reports: 0x00
  Output reports: 0x00
Input report 0x00
  2 values * 8 bits (bits 0 to 15)
    Data,Var,Abs
    Usage: 0009:004B (Button Button 75)
    Logical bounds: 0 to 0
Output report 0x00
  35 values * 8 bits (bits 0 to 279)
    Data,Var,Abs
    Usage: 0008:004B (LED > Generic Indicator)
    Logical bounds: 0 to 03